@charset "utf-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #333;
  background: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
select,
a,
th,
td,
button,
img,
em {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}
img {
  vertical-align: middle;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
input[disabled],
select[disabled] {
  background-color: #ebebe4;
}
/*清除浮动*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
.clearfix {
  zoom: 1;
}
.Clearfix {
  display: block;
}
/* 浮动 */
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
a {
  text-decoration: none;
  color: #3c495a;
  display: inline-block;
}
a:hover,
a:active {
  text-decoration: none;
  color: #55a8fd;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h300 {
  height: 300px;
}
.h400 {
  height: 400px;
}
.h400 {
  height: 500px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m30 {
  margin: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
/* 超出宽度自动隐藏 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blue {
  color: #55a8fd;
}
.grey {
  color: #c0c4cb;
}
.orange {
  color: #ffac4b;
}
.point {
  cursor: pointer;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  left: 0;
  top: 0;
  z-index: 9;
}
.top {
  width: 100%;
  height: 165px;
  border-bottom: 2px solid #002a38;
  background-color: #fff;
}
.top-site {
  width: 100%;
  height: 28px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e4e4e4;
}
.top-site .site {
  width: 1200px;
  height: 28px;
  line-height: 28px;
  margin: 0 auto;
}
.top-site .site .welcome-presence .welcome {
  color: #2a2a2a;
}
.top-site .site .welcome-presence .site-loged {
  margin-left: 5px;
}
.top-site .site .welcome-presence .site-loged span {
  color: #8e8e8e;
}
.top-site .site .welcome-presence .site-loged span:hover {
  cursor: pointer;
}
.top-site .site .site-loging-success ul li {
  float: left;
  padding: 0 14px;
}
.top-site .site .site-loging-success ul li:hover {
  cursor: pointer;
}
.top-site .site .site-loging-success ul li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  float: left;
}
.top-site .site .site-loging-success ul li i.order {
  background: url(../../bundle/img/icon-me-order.png) no-repeat;
}
.top-site .site .site-loging-success ul li i.cart {
  background: url(../../bundle/img/icon-me-cart.png) no-repeat;
}
.top-site .site .site-loging-success ul li i.user {
  background: url(../../bundle/img/icon-me-user.png) no-repeat;
}
.top-site .site .site-loging-success ul li a {
  float: left;
  display: inline-block;
  margin-left: 4px;
}
.topCon {
  width: 1200px;
  margin: 0 auto;
}
.topCon .top-logo {
  margin-top: 13px;
}
.topCon .top-logo .logo img {
  width: 161px;
  height: 59px;
}
.topCon .top-logo .search {
  width: 540px;
  height: 35px;
  border: 2px solid #c13d31;
  margin-left: 265px;
  margin-top: 10px;
  position: relative;
}
.topCon .top-logo .search .search-name {
  width: 420px;
  height: 31px;
  padding-left: 32px;
}
.topCon .top-logo .search .search-btn {
  display: inline-block;
  height: 31px;
  width: 86px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  background-color: #e0352b;
  font-weight: bold;
  font-size: 14px;
}
.topCon .top-logo .search .search-btn:hover {
  cursor: pointer;
}
.topCon .top-logo .search .search-icon {
  position: absolute;
  left: 10px;
  top: 9px;
}
.topCon .top-logo .search .search-icon:hover {
  cursor: pointer;
}
.topCon .top-logo .search .yuyin-icon {
  position: absolute;
  left: 428px;
  top: 9px;
}
.topCon .top-logo .search .yuyin-icon:hover {
  cursor: pointer;
}
.topCon .top-logo .search .search-hot {
  position: absolute;
  bottom: -21px;
  left: 0px;
}
.topCon .top-logo .search .search-hot li {
  float: left;
  padding: 0 9px;
  border-right: 1px solid #9a9a9a;
}
.topCon .top-logo .search .search-hot li:hover {
  cursor: pointer;
  color: #55a8fd;
}
.all-nav {
  height: 37px;
  margin-top: 28px;
}
.all-nav .all-classify {
  width: 193px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #dc3628;
}
.all-nav .all-classify:hover {
  cursor: pointer;
}
.all-nav .nav-classify {
  margin-left: 25px;
}
.all-nav .nav-classify li {
  float: left;
  font-weight: 700;
  padding: 10px 20px;
}
.all-nav .nav-classify li:hover {
  cursor: pointer;
}
.all-nav .nav-classify li.mall-home {
  background: url(../../bundle/img/icon-home.png) no-repeat left;
}
.all-list {
  width: 193px;
  height: 476px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  z-index: 99;
  position: absolute;
}
.all-list .all_list {
  background-color: #ffffff;
  z-index: 99;
}
.all-list .all_list > li {
  width: 100%;
  height: 68px;
  background: #fff;
  position: relative;
}
.all-list .all_list > li:nth-child(even) {
  background: #f0f0f0;
}
.all-list .all_list > li:nth-child(odd) {
  background: #fff;
}
.all-list .all_list > li .list-title {
  padding-top: 12px;
  font-weight: bold;
  padding-left: 18px;
  background: url(../../bundle/img/icon-list-zhankai.png) no-repeat 180px center;
}
.all-list .all_list > li:hover {
  cursor: pointer;
}
.all-list .all_list > li .list-hot {
  margin-top: 14px;
  padding-left: 12px;
  height: 16px;
  overflow: hidden;
}
.all-list .all_list > li .list-hot > li {
  float: left;
  color: #535353;
  padding: 0 7px;
}
.all-list .all_list > li .classif-detail {
  display: none;
  width: 560px;
  background: #fff;
  position: absolute;
  left: 193px;
  top: 0px;
}
.all-list .all_list > li .classif-detail .more-list li {
  display: inline-block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #dadada;
  margin: 20px 0;
  float: left;
  color: #666;
}
.all-list .all_list > li .classif-detail .more-list li:hover {
  color: red;
}
.all-list .more-categories {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 191px;
  height: 68px;
  cursor: pointer;
  line-height: 68px;
  background: url(../../bundle/img/icon-list-zhankai.png) no-repeat 180px center;
}
.all-list .more-categories span {
  font-size: 16px;
}
.all-list .more-categories .more-fen {
  display: none;
  position: absolute;
  left: 193px;
  bottom: 0px;
  background: #fff;
  width: 560px;
  padding-top: 20px;
}
.all-list .more-categories .more-fen .more-list {
  float: left;
  width: 100px;
  border-right: 1px solid #dadada;
  text-align: center;
  height: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}
.all-list .more-categories .more-fen .more-list .more-title {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.all-list .more-categories .more-fen .more-list .more-title:hover {
  color: red;
}
.bottom {
  width: 100%;
  height: 250px;
  background-color: #fff;
}
.bottom .bottomCon {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  padding-left: 132px;
  padding-top: 51px;
}
.bottom .bottomCon .foot-nav {
  width: 250px;
}
.bottom .bottomCon .foot-nav div {
  font-weight: bold;
  margin-bottom: 6px;
  padding-left: 40px;
}
.bottom .bottomCon .foot-nav li {
  line-height: 20px;
  padding-left: 40px;
}
.bottom .bottomCon .foot-nav.gouwu {
  background: url(../../bundle/img/icon-gouwu.png) no-repeat left top;
}
.bottom .bottomCon .foot-nav.peisong {
  background: url(../../bundle/img/icon-peisong.png) no-repeat left top;
}
.bottom .bottomCon .foot-nav.zhifu {
  background: url(../../bundle/img/icon-zhifu.png) no-repeat left top;
}
.bottom .bottomCon .foot-nav.shouhou {
  background: url(../../bundle/img/icon-shouhou.png) no-repeat left top;
}
.no-data {
  display: none;
  background-color: #fff;
  width: 360px;
  height: auto;
  font-size: 16px;
  color: #617083;
  margin: 30px auto;
  text-align: center;
}
.no-data .no-img {
  width: 334px;
  height: 368px;
  background: url(../../bundle/img/icon-notFound.png) no-repeat 0 0;
}
.no-data .cont {
  line-height: 90px;
  text-indent: 20px;
}
.wrap {
  width: 100%;
  background: #f6f6f6;
  height: auto;
}
.hot-recommend {
  width: 1200px;
  height: 190px;
  margin: 0 auto;
}
.hot-recommend .hot-logo {
  width: 38px;
  height: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #666666;
  background: #fff url(../../bundle/img/icon-hot.png) no-repeat center 4px;
}
.hot-recommend .hot-logo p {
  width: 20px;
  margin: 26px 0 0 13px;
}
.hot-recommend .hot-list li {
  position: relative;
  margin-top: 14px;
  margin-left: 11px;
  margin-right: 12px;
}
.hot-recommend .hot-list li:last-child {
  margin-right: 0;
}
.hot-recommend .hot-list img {
  width: 270px;
  height: 162px;
}
.hot-recommend .hot-list .hot-detail {
  width: 270px;
  height: 44px;
  background: rgba(6, 6, 6, 0.2);
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px;
}
.hot-recommend .hot-list .hot-detail span {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 160px;
}
.hot-recommend .hot-list .hot-detail b {
  color: #fff;
}
.hot-recommend .hot-list .hot-detail b i {
  font-style: normal;
  color: #e60012;
}
.hot-recommend .hot-list .hot-detail .now-buy {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 78px;
  height: 28px;
  background: #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 4px;
  cursor: pointer;
}
.wrapC {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.wrapC .goods {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 20px;
}
.wrapC .goods .type-list {
  width: 1200px;
  height: 40px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.wrapC .goods .type-list .type-name {
  color: #666666;
  font-size: 14px;
  line-height: 40px;
  margin-left: 10px;
}
.wrapC .goods .type-list .deletePar {
  border: 1px solid #ccc;
  cursor: pointer;
  background: url(../../bundle/img/icon-close.png) no-repeat right top;
}
.wrapC .goods .type-list .deletePar:hover {
  cursor: pointer;
  color: red;
  background: url(../../bundle/img/icon-close-hover.png) no-repeat right top;
}
.wrapC .goods .type-list ul li {
  float: left;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  padding: 0 16px;
  cursor: pointer;
}
.wrapC .goods .type-list ul li.active {
  color: red;
}
.wrapC .goods .type-list ul li:first-child {
  margin-left: 16px;
}
.wrapC .goods .commodity {
  margin-top: 20px;
}
.wrapC .goods .commodity .commodity-left {
  width: 122px;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list {
  margin-bottom: 25px;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list img {
  width: 122px;
  height: 122px;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list .left-list-name {
  margin-top: 11px;
  color: #666666;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 122px;
  white-space: nowrap;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list .left-list-money {
  color: #e60012;
  font-size: 14px;
  margin-top: 8px;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list .left-list-assess {
  margin-top: 8px;
  color: #666666;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 122px;
  white-space: nowrap;
}
.wrapC .goods .commodity .commodity-left .commodity-left-list .left-list-assess b {
  font-weight: normal;
  color: #3d58bd;
}
.wrapC .goods .commodity .commodity-right {
  width: 1056px;
  border-left: 1px solid #e6e6e6;
  margin-left: 20px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav {
  margin-left: 19px;
  width: 1034px;
  height: 38px;
  border-top: 1px solid #e5e5e5;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e5e5e5;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav p {
  color: #666666;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 46px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #f6f6f6;
  margin-right: 4px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav p:first-child {
  margin-left: 11px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav p.active {
  border-color: #e60012;
  color: #e60012;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav .right-nav-price {
  margin-left: 50px;
  margin-top: 4px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav .right-nav-price input {
  display: inline-block;
  width: 78px;
  height: 26px;
  border: 1px solid #e5e5e5;
  background: #fff url(../../bundle/img/icon-rmb.png) no-repeat 3px 7px;
  padding-left: 20px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-nav .right-nav-price span {
  display: inline-block;
  width: 60px;
  height: 26px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 24px;
  color: #666666;
  cursor: pointer;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list {
  margin-left: 20px;
  margin-top: 17px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list {
  width: 240px;
  height: 300px;
  border: 1px solid #f5f5f5;
  margin-left: 5px;
  margin-right: 13px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list:hover {
  border-color: #de362b;
  cursor: pointer;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list img {
  width: 220px;
  height: 220px;
  margin: 9px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-name {
  color: #666666;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 9px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-cont {
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 12px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-cont span {
  display: inline-block;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-cont .right-list-money {
  color: #e60012;
  font-size: 16px;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-cont .right-list-num {
  color: #666666;
}
.wrapC .goods .commodity .commodity-right .commodity-right-list .right-list .right-list-cont .right-list-num b {
  font-weight: normal;
  color: #3d58bd;
}
.choice-goods {
  width: 100%;
  height: 300px;
  background-color: #f6f6f6;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.choice-goods .choice-hot {
  width: 1200px;
  margin: 0 auto;
}
.choice-goods .choice-hot .choice-logo {
  width: 38px;
  height: 99px;
  background: #fff url(../../bundle/img/icon-choice.png) no-repeat center 6px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 24px 13px;
  color: #666666;
  font-size: 14px;
  line-height: 14px;
}
.choice-goods .choice-hot .choice-list {
  margin-left: 40px;
  margin-top: 20px;
}
.choice-goods .choice-hot .choice-list .list-choice {
  width: 180px;
  margin-right: 44px;
}
.choice-goods .choice-hot .choice-list .list-choice img {
  width: 180px;
  height: 180px;
}
.choice-goods .choice-hot .choice-list .list-choice .list-name {
  color: #666666;
  font-size: 14px;
  margin-top: 4px;
}
.choice-goods .choice-hot .choice-list .list-choice .list-cont {
  margin-top: 12px;
}
.choice-goods .choice-hot .choice-list .list-choice .list-cont .list-money {
  color: #e60012;
  font-size: 14px;
}
.choice-goods .choice-hot .choice-list .list-choice .list-cont .list-num {
  color: #666666;
}
.choice-goods .choice-hot .choice-list .list-choice .list-cont .list-num b {
  font-weight: normal;
  color: #3d58bd;
}

/*# sourceMappingURL=maps/commodity-list.css.map */
